
#main-container {
    -fx-background-color: linear-gradient(to bottom, #000080, #ffffff);
    -fx-padding: 20;
    -fx-alignment: center-left;
}


.label-title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Times New Roman";
}
.root {

}
.all-background {
    -fx-background-color: linear-gradient(to bottom, #3e3ea9, #9596a6);
}

.button {
    -fx-background-color: #6768ef;
    -fx-text-fill: #dcd5d5;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Light";
}


.text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-font-size: 14;
}


.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}


.table-column {
    -fx-font-size: 14;
    -fx-alignment: CENTER;
}


.table-row-cell:filled:selected {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
}


.content-area {
    -fx-padding: 20;
}

.registro-background {
    -fx-background-color: linear-gradient(to bottom, #3e3ea9, #9596a6);
}

.registro-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.registro-textfield {
    -fx-font-size: 14;
    -fx-padding: 5;
}

.registro-button {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
